@model DailyTasks
@{
}

<div class="partial-container">
    <div class="gif-path">@Model.GifPath</div>
    <div class="day-and-edit-button-div">
        <div class="day-of-week">
            <h3 class="text-light">@Model.DayOfWeek</h3>
        </div>
        <a class="btn btn-outline-info px-2 py-1 mx-2 edit-single-tasks-link"
           data-daily-tasks-id="@Model.Id">
            <i class="bi bi-upc-scan"></i> Edit Single Tasks
        </a>
    </div>
    
    <div class="modal-overlay">
        <div class="edit-modal-body rounded p-4 shadow bg-dark">
            @*  partial gets injected here> *@
        </div>
    </div>
    
    <div class="daily-tasks-list">
        <form method="post" asp-action="SaveCheckedDailyTasks" asp-controller="DailyTasks">
            <input type="hidden" name="DailyTasksId" value="@Model.Id" />
            
            @foreach (var task in Model.TaskList)
            {
                <div class="single-task-row">
                    <input type="checkbox"
                           name="SingleTaskIds"
                           value="@task.Id"
                           class="text-light"
                           @(task.IsDone ? "checked" : "") />
                    <label class="daily-task-title">@task.Title</label>
                </div>
            }
            
            <button type="submit" class="btn btn-success">Save done tasks</button>
        </form>
    </div>
    <div class="task-completion-msg">@Model.Message</div>
</div>